.flock-details-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.flock-details-container h2 {
    margin-bottom: 20px;
}

.flock-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.flock-images img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}
